.pagewrapper{
    /* background-color:#000; */
    height:500px;
    padding:10px;
}
.car{
    height:300px;
    /* margin:auto; */
    width:500px;
    /* background-color:#ff0; */
    background-image:url(images/car1.png);
    background-size:100% 100%;
    /* background-size:cover; */
    margin-top:-445px;
    background-repeat: no-repeat;
    padding:1px;
    animation-name:carmotion;
    animation-duration: 5.2s;
    animation-fill-mode: forwards;
    /* animation-duration:ease-out; */
    animation-timing-function: linear;
    transform: scale(0.2,0.2);
    position: absolute;

}
.car2{
    height:300px;
    /* margin:auto; */
    width:500px;
    /* background-color:#ff0; */
    background-image:url(images/car1.png);
    background-size:100% 100%;
    /* background-size:cover; */
    margin-top:-445px;
    background-repeat: no-repeat;
    padding:1px;
    animation-name:carmotion;
    animation-duration: 5.2s;
    /* animation-iteration-count:inherit; */
    animation-fill-mode: forwards;
    /* animation-duration:ease-out; */
    animation-timing-function: linear;
    transform: scale(0.2,0.2) rotateY(180deg);
    animation-direction: reverse;
    
 position: absolute;


}


.backwheel, .frontwheel{
    height: 80px;
    /* background-color: red; */
    width: 80px;
    margin-top: 186px;
    background-image: url(images/whl.png);
    background-size: 100% 100%;
    margin-left: 76px;
    float: left;
    animation-name: wheelmotion;
    animation-duration: 5.2s;
    /* animation:ease-out; */
    /* animation-timing-function:linear; */
}
.frontwheel{
    margin-left: 219px;
    margin-top:180px;
}

@keyframes wheelmotion{
    from{transform:rotate(0deg);}
    to{transform:rotate(36000deg);}
}

@keyframes carmotion{
    from{margin-left:0px;}
    to{margin-left:750px}
}
@keyframes car2motion{
        from{margin-left:0px}
        to{margin-left:750px}
}
.skyline{
    height: 300px;
    width: 100%;
    /* background-color:skyblue; */
    margin-top:10px;
    /* position:absolute; */
    /* float:left; */
    background-image: url(images/city.png);
    background-size:100% 100%;
    /* z-index:1;
    position:absolute; */
}
.water{
      
    height:20px;
    width: 200px;
    background-image: url("images/water.gif");
    /* background-size:100% 100%; */
    background-position: 0px -300px;
    background-repeat: no-repeat;

    margin-left:122px;
    
    /* z-index:2; */
    /* position:absolute; */
    /* margin-top:200px; */
    /* float:left; */

}
.sea{
    height:200px;
    width:100%;
}
.leftstrip{
    height:800px;
    width:10%;
    background-color:#333;
    float:left;
}
.cars{
    margin-top:400px;
    z-index:100;
    position: absolute;
}