.pagewrapper{
    height:600px;
    width:80%;
    background-color: #ff0;
    margin:auto;
    padding:10px;
}
#white{
    background-image:radial-gradient(white,red);
    height:100px;
    width:100px;
    margin:auto;
    vertical-align: center;
}
.pallete{
    height:600px;
    width:600px;
    border-radius:1000px;
    background-color:#fff;
    /* background-image:radial-gradient(red,yellow,green); */
}
li{
    height:100px;
    width:100px;

}
#p1{
    background-image:linear-gradient(white,red);
}
#p2{
    background-image:linear-gradient(white); 

}
.color{
    height:600px;
    width:600px;
    background-image: linear-gradient(To bottom, #f00,#f10,#f11,#f12,#f13,#ff1,#ff2,#ff3)};
